/*CSS Document*/

body {
    background-color: rgb(220, 220, 220);
}
h1 {
    color: rgb(0, 0, 200);
    font-size: 3em;
    padding: 0em 1em 0em 0em;
    background-color: rgb(75, 93, 224);
}
h2 {
    color: rgb(0, 0, 200);
    font-size: 2em;
    padding: 0em 3em 0.5em 3em;
}
h3 {
    color: rgb(220, 220, 220);
    font-size: 1em;
    padding: 0em 0.5em 0em 0.5em;
    background-color: rgb(75, 93, 224);
}
li {
    list-style: none;
}
