/*CSS Document*/
  
  h1 {
      color: rgb(0, 0, 255);
      font-size: 3em;
      backround-color: rgb(0, 0, 175);
     }
  h2 {
      color: rgb(0, 0, 200);
      font-size: 2em;
      margin: 1em 2em 1.5em 0.5em;
     }
